.blog-posts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
  
    &__post-card {
        background-color: #fff;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        overflow: hidden;
        padding: 20px;
        &:hover {
            box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
        }
        &__content {
            &--title {
                font-size: 1.2rem;
                font-weight: bold;
                margin: 0;
                margin-bottom: 10px;
                a {
                    color: #333;
                    text-decoration: none;
                }
            }
            &--excerpt {
                font-size: 0.9rem;
                margin: 0;
                margin-bottom: 10px;
                line-height: 1.5;
                max-height: 75px;
                overflow: hidden;
            }
        }
        &__meta {
            font-size: 0.8rem;
            color: #666;
            &--author {
                float: left;
            }
            &--date {
                float: right;
            }
        }
        &__read-more {
            margin-top: 3em;
            text-align: right;
            a {
                display: inline-block;
                background-color: #333;
                color: #fff;
                text-decoration: none;
                padding: 8px;
                border-radius: 5px;
                transition: background-color 0.3s ease;
                font-size: 14px;
                &:hover {
                    background-color: #555;
                }
            }
        }
    }
}
